<html>
    <head>
        <title>My first blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 26.06.2023, 00:46</p>
            <h2><a href="">My first post</a></h2>
            <p>Nihuyasebe,html izi,cho golovy ebete</p>
        </div>

        <div>
            <p>published: 26.06.2023, 00:49</p>
            <h2><a href="">My second post</a></h2>
            <p>besa mo italiano inmpeza dela mucho,besa o italion,tigigig,baiden baiden</p>
        </div>
    </body>
</html>